body {
    font-family: Arial, sans-serif;
    background-color: #cde6f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.messages-container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #5484c8;
    margin-bottom: 20px;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.message-details {
    padding: 10px;
}

.message-details p {
    margin-bottom: 5px;
}

.message-details strong {
    margin-right: 5px;
}